@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

// fonts
$font-basic: "Manrope", sans-serif;

// colors
$dark: hsl(217, 19%, 35%);
$text-color: hsl(214, 17%, 51%);
$primary: hsl(212, 23%, 69%);
$background: hsl(210, 46%, 95%);


$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;


*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

html,
body {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: $background;
    font-family: $font-basic;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.4;
    padding: 80px 32px;
}

.card {
    position: relative;
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

    &__image {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        max-height: 200px;
        object-fit: cover;
        object-position: top;
    }

    &__content {
        padding: 36px 30px 24px;
    }

    &__title {
        font-family: $font-basic;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        color: $dark;
    }

    &__description {
        margin: 16px 0px 28px;
        font-family: $font-basic;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        color: $text-color;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__author {
        display: flex;
        align-items: center;
        gap: 16px;

        & img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
        }

        .name {
            font-family: $font-basic;
            font-weight: 700;
            font-size: 13px;
            line-height: 1.5;
            color: $dark;
            margin-bottom: 4px;
        }

        .date {
            font-family: $font-basic;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.5;
            color: $primary;
        }
    }
}

.share {
    &__button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $background;
        color: $dark;
        border: none;
        cursor: pointer;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        z-index: 2;
        transition: all 0.3s ease;

        &:hover {
            background: $primary;

            .share__icon {
                filter: brightness(0) invert(1);
            }
        }

        &.active {
            background: $text-color;
            margin-bottom: -28px;

            .share__icon {
                filter: brightness(0) invert(1);
            }
        }
    }

    &__container {
        display: none;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 64px;
        background: $dark;
        padding: 24px 30px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        z-index: 1;

        &.active {
            display: flex;
        }
    }

    &__title {
        font-family: $font-basic;
        font-weight: 500;
        font-size: 13px;
        line-height: 1.5;
        letter-spacing: 4px;
        color: $primary;
        text-transform: uppercase;
    }

    &__icons {
        display: flex;
        gap: 12px;
        margin-left: 16px;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;

            &:hover {
                opacity: 0.7;
            }
        }
    }

}

@media screen and (min-width: $tablet) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        flex-direction: row;
        max-width: 680px;
        width: 100%;

        &__image {
            border-top-right-radius: 0;
            border-bottom-left-radius: 8px;
            max-height: none;
            height: 285px;
            max-width: 290px;
            object-fit: cover;
            object-position: center left;
        }

        &__content {
            padding: 24px 36px;
        }

        &__title {
            font-size: 18px;
        }

        &__description {
            margin: 10px 0px 24px;
        }
    }

    .share {
        &__button {
            position: relative;

            &.active {
                background: $text-color;
                margin-bottom: 0;

                .share__icon {
                    filter: brightness(0) invert(1);
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: -28px;
                    transform: translateX(-50%);

                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid $dark;
                    }
            }
        }
        &__container {
        display: none;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        bottom: 90px;
        left: auto;
        right: -70px;
        width: 240px;
        height: 48px;
        border-radius: 8px;
        z-index: 1;

        &.active {
            display: flex;
        }
    }
    }
}